// Bootstrap overrides
$primary:       #F2D02D !default;
$secondary:     #F0C22F !default;
$success:       #095A4B !default;
$info:          #DADAD8 !default;
$warning:       #EC325B !default;
$danger:        #E0264A !default;
$light:         #E1EBF1 !default;
$dark:          #201F24 !default;

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

$main-font-family: "Space Mono", sans-serif;

$arrowsize: 8px;

$mainWidth: 65vw;
$chatWidth: 35vw;
$mainHeight: 100vh;
$convContHeight: 81vh;
$answerContMarginTop: 2vh;
$answerContHeight: 17vh;
$chatPadding: 1rem;
$pendingWidth: $mainWidth / 6;
$sortWidth: $mainWidth;
$sortMargin: $sortWidth / 20;
$sortHeight: 70vh;
$buttonWidth: 7.5vw;
$imageWidth: 5vw;

// Input range
$track-color: $primary !default;
$thumb-color: $primary !default;

$thumb-radius: 12px !default;
$thumb-height: 16px !default;
$thumb-width: 16px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: $light !default;

$track-width: 100% !default;
$track-height: 3px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: $light !default;

$track-radius: 0px !default;
$contrast: 5% !default;